In [1]:
import pandas as pd

df = pd.read_csv('../data/top_100_books_by_category.csv', encoding  = "ISO-8859-1")

In [2]:
df.head()

,category,rank,titles,prices
0,Arts Photography,1,The 5 Love Languages: The Secret to Love that ...,$9.59
1,Arts Photography,2,Born a Crime: Stories from a South African Chi...,$0.00 with Trial
2,Arts Photography,3,The Anthology Part 1 Limited Edition,$24.99
3,Arts Photography,4,The Life-Changing Magic of Tidying Up: The Jap...,$9.79
4,Arts Photography,5,The Autobiography of Gucci Mane,$16.20

### Clean Prices

In [3]:
df['prices'].unique()

array(['$9.59', '$0.00 with Trial', '$24.99', '$9.79', '$16.20', '$28.99',
       '$15.00', '$11.96', '$5.99', '$13.87', '$14.99', '$19.46', '$5.14',
       '$4.99', '$5.39', '$20.74', '$6.29', '$22.35', '$19.77', '$23.99',
       '$9.41', '$18.30', '$28.08', '$4.49', '$19.17', '$5.79', '$16.19',
       '$4.04', '$12.21', '$3.56', '$18.49', '$60.00', '$11.55', '$2.99',
       '$31.44', '$2.87', '$4.05', '$10.43', '$20.25', '$6.79', '$13.49',
       '$6.99', '$12.99', '$3.76', '$20.39', '$9.99', '$15.63', '$25.47',
       '$4.97', '$8.49', '$7.99', '$21.39', '$10.39', '$13.28', '$3.06',
       '$8.29', '$6.27', '$11.21', '$12.88', '$3.59', '$6.95', '$12.59',
       '$1.99', '$12.38', '$18.89', '$10.00', '$5.09', '$0.99', '$11.18',
       '$10.38', '$6.16', '$4.95', '$23.42', '$22.69', '$15.61', '$11.52',
       '$9.84', '$13.56', '$6.17', '1 credit', '$20.99', '$16.99', '$8.63',
       '$17.99', '$11.99', '$16.37', '$16.80', '$19.99', '$12.60',
       '$15.99', '$16.74', '$18.00', '$14.44', '$18.36', '$20.48',
       '$17.97', '$8.54', '$10.29', '$8.02', '$6.47', '$9.97', '$1.60',
       '$13.54', '$16.50', '$11.51', '$19.60', '$13.99', '$9.19', '$12.00',
       '$15.80', '$19.63', '$17.11', '$14.23', '$35.71', '$39.99',
       '$26.24', '$19.85', '$23.33', '$19.86', '$17.70', '$25.89',
       '$25.94', '$29.59', '$5.00', '$14.50', '$28.32', '$47.25', '$44.19',
       '$25.95', '$18.44', '$30.40', '$20.50', '$17.44', '$26.25',
       '$32.76', '$15.39', '$10.26', '$20.95', '$7.92', '$9.71', '$8.72',
       '$29.49', '$8.96', '$18.87', '$24.78', '$29.29', '$9.82', '$21.08',
       '$17.36', '$18.73', '$32.26', '$10.73', '$24.48', '$12.50',
       '$22.32', '$14.97', '$89.15', '$19.49', '$5.96', '$10.45', '$6.12',
       '$16.38', '$18.25', '$22.60', '$30.36', '$14.56', '$25.41',
       '$15.98', '$24.51', '$21.72', '$8.47', '$52.72', '$24.45', '$28.35',
       '$28.19', '$14.09', '$58.52', '$19.68', '$19.05', '$31.06',
       '$24.46', '$26.08', '$11.69', '$35.24', '$16.25', '$17.02',
       '$25.98', '$15.03', '$28.74', '$14.29', '$28.77', '$11.97', '$9.17',
       '$26.48', '$47.42', '$25.34', '$17.19', '$11.68', '$8.99', '$10.20',
       '$10.83', '$9.60', '$14.49', '$10.91', '$14.40', '$17.10', '$7.19',
       '$12.98', '$18.35', '$11.83', '$10.56', '$19.30', '$37.95',
       '$13.32', '$18.46', '$11.30', '$9.83', '$13.59', '$15.31', '$13.39',
       '$9.32', '$9.29', '$17.07', '$19.83', '$3.99', '$21.99', '$14.01',
       '$7.01', '$44.84', '$23.59', '$10.50', '$10.75', '$6.31', '$5.33',
       '$10.99', '$20.66', '$11.86', '$10.19', '$18.67', '$15.07',
       '$10.92', '$22.46', '$6.21', '$11.60', '$5.21', '$18.82', '$1.86',
       '$9.65', '$11.44', '$11.19', '$2.20', '$13.45', '$15.29', '$12.86',
       '$2.60', '$10.68', '$10.80', '$10.79', '$12.26', '$6.51', '$11.70',
       '$10.84', '$5.36', '$12.40', '$10.32', '$10.63', '$2.68', '$12.74',
       '$10.87', '$9.64', '$6.54', '$12.07', '$11.59', '$10.71', '$17.93',
       '$7.48', '$15.25', '$11.01', '$11.20', '$8.37', '$10.51', '$23.73',
       '$10.24', '$6.28', '$15.19', '$11.53', '$5.68', '$8.28', '$3.39',
       '$6.89', '$6.24', '$5.89', '$4.74', '$12.90', '$9.78', '$17.08',
       '$5.19', '$8.48', '$5.13', '$7.18', '$14.07', '$4.35', '$27.99',
       '$8.36', '$12.69', '$14.32', '$52.99', '$11.39', '$8.78', '$5.98',
       '$8.39', '$10.46', '$12.75', '$7.79', '$4.24', '$11.57', '$5.69',
       '$2.54', '$15.10', '$11.36', '$4.83', '$12.57', '$5.94', '$5.48',
       '$6.15', '$31.79', '$17.09', '$15.47', '$2.39', '$12.42', '$13.19',
       '$6.67', '$13.35', '$11.06', '$18.28', '$11.72', '$10.72', '$9.89',
       '$17.67', '$8.81', '$14.38', '$9.73', '$16.09', '$10.90', '$2.12',
       '$9.48', '$16.69', '$12.47', '$10.65', '$4.50', '$5.50', '$12.80',
       '$13.51', '$7.50', '$29.88', '$8.50', '$3.36', '$4.00', '$6.39',
       '$6.50', '$37.42', '$9.20', '$56.00', '$3.50', '$9.50', '$21.51',
       '$34.24', '$11.56', '$13.38', '$12.06', '$10.04', '$7.98', '$12.56',
       '$39.97', '$14.59', '$8.86', '$10.77', '$9.90', '$29.82', '$134.99',
       '$9.28', '$33.31', '$22.62', '$34.78', '$16.53', '$18.78', '$61.60',
       '$43.54', '$27.16', '$31.27', '$12.65', '$19.95', '$19.44',
       '$36.24', '$37.43', '$30.19', '$33.88', '$35.99', '$9.00', '$34.16',
       '$5.24', '$74.00', '$33.99', '$12.01', '$2.98', '$3.98', '$32.83',
       '$9.80', '$31.99', '$11.90', '$20.77', '$46.40', '$33.80', '$20.09',
       '$22.88', '$14.39', '$25.65', '$21.24', '$35.29', '$17.64', '$4.67',
       '$4.46', '$4.47', '$31.67', '$18.38', '$17.89', '$16.94', '$22.48',
       '$19.14', '$14.71', '$10.15', '$15.59', '$21.50', '$30.62',
       '$22.30', '$20.86', '$11.89', '$21.00', '$10.33', '$11.41',
       '$19.84', '$6.38', '$13.58', '$18.45', '$12.97', '$26.45', '$23.79',
       '$33.96', '$22.28', '$15.27', '$22.49', '$23.70', '$20.19',
       '$20.98', '$27.76', '$11.49', '$23.77', '$12.71', '$23.76',
       '$17.74', '$7.39', '$17.63', '$19.47', '$14.95', '$18.70', '$15.89',
       '$15.60', '$15.90', '$19.45', '$16.68', '$19.65', '$7.75', '$13.05',
       '$17.86', '$15.26', '$53.99', '$16.96', '$9.86', '$14.31', '$4.98',
       '$10.36', '$13.01', '$21.37', '$14.26', '$15.69', '$3.49', '$28.84',
       '$11.66', '$18.14', '$13.29', '$9.34', '$2.82', '$7.51', '$18.95',
       '$34.43', '$15.91', '$17.00', '$48.81', '$25.37', '$1.00', '$3.34',
       '$6.76', '$10.17', '$6.04', '$4.70', '$13.40', '$3.95', '$13.79',
       '$8.97', '$4.75', '$10.74', '$7.55', '$5.49', '$7.12', '$16.29',
       '$8.75', '$8.95', '$9.96', '$20.78', '$27.96', '$51.63', '$9.69',
       '$21.01', '$6.78', '$33.92', '$27.19', '$7.45', '$24.93', '$24.00',
       '$45.16', '$43.34', '$38.09', '$26.44', '$120.93', '$14.28',
       '$17.15', '$44.69', '$22.12', '$24.97', '$35.16', '$3.14', '$4.56',
       '$11.35', '$20.18', '$17.30', '$47.99', '$5.77', '$27.22', '$12.91',
       '$17.54', '$8.87', '$21.75', '$32.01', '$8.09', '$12.20', '$3.32',
       '$19.79', '$33.32', '$21.36', '$22.51', '$30.12', '$5.82', '$10.89',
       '$7.14', '$12.70', '$1.20', '$12.16', '$0.55', '$9.95', '$16.49',
       '$21.94', '$23.90', '$22.64', '$8.66', '$19.04', '$34.00', '$17.05',
       '$11.08', '$21.31', '$19.03', '$9.14', '$4.15', '$3.96', '$10.10',
       '$14.00', '$3.82', '$18.24', '$7.42', '$8.42', '$11.15', '$13.90',
       '$19.00', '$12.83', '$16.79', '$8.98', '$21.49', '$17.82', '$12.44',
       '$9.39', '$14.87', '$17.95', '$17.68', '$12.49', '$1.49', '$22.99',
       '$9.81', '$12.39', '$21.66', '$12.04', '$18.59', '$34.65', '$14.70',
       '$18.43', '$29.97', '$13.34', '$32.41', '$34.09', '$8.79', '$13.18',
       '$25.49', '$49.00', '$8.51', '$50.25', '$39.86', '$18.03', '$40.77',
       '$24.69', '$29.93', '$47.43', '$61.34', '$8.22', '$15.35', '$20.40',
       '$17.92', '$9.85', '$28.95', '$24.29', '$39.91', '$37.18', '$50.30',
       '$9.18', '$13.82', '$5.37', '$12.24', '$19.72', '$18.32', '$11.88',
       '$20.04', '$10.57', '$31.00', '$99.94', '$6.59', '$4.19', '$5.29',
       '$3.88', '$23.74', '$5.38', '$12.78', '$7.28', '$4.45', '$1.19',
       '$7.94', '$2.49', '$4.89', '$7.96', '$3.00', '$3.57', '$1.76',
       '$10.97', '$6.62', '$17.96', '$17.37', '$0.07', '$11.40', '$17.50',
       '$19.28', '$113.90', '$8.69', '$13.89', '$31.28', '$13.48',
       '$11.98', '$13.65', '$18.10', '$7.20', '$32.45', '$15.17', '$13.55',
       '$40.83', '$6.85', '$13.66', '$8.26', '$2.00', '$9.56', '$16.48',
       '$5.59', '$12.62', '$14.30', '$13.42', '$16.61', '$16.23', '$11.43',
       '$17.53', '$11.10', '$9.98', '$16.59', '$10.25', '$13.33', '$11.29',
       '$18.29', '$1.78', '$12.87', '$19.51', '$17.41', '$9.92', '$8.59',
       '$17.39', '$17.32', '$15.43', '$20.73', '$11.37', '$9.15', '$8.91',
       '$5.34', '$13.46', '$13.96', '$7.60', '$23.46', '$16.35', '$20.63',
       '$26.11', '$13.08', '$16.62', '$11.00', '$35.54', '$24.39',
       '$21.71', '$15.16', '$23.43', '$13.03', '$18.90', '$20.71',
       '$17.56', '$20.06', '$11.09', '$24.96', '$15.64', '$19.32', '$5.47',
       '$15.54', '$24.95', '$7.59', '$8.53', '$6.74', '$13.98', '$12.25',
       '$20.57', '$14.86', '$30.59', '$7.49', '$10.44', '$41.99', '$74.36',
       '$20.10', '$25.69', '$16.70', '$19.29', '$24.47', '$41.93', '$6.75',
       '$12.93', '$3.97', '$13.94', '$16.56', '$16.64', '$32.61', '$11.63',
       '$12.23', '$2.36', '$6.00', '$14.47', '$5.10', '$13.25', '$12.18',
       '$19.96', '$95.54', '$84.29', '$34.79', '$73.46', '$7.74', '$27.14',
       '$9.88', '$22.95', '$27.50', '$14.25', '$111.10', '$7.95', '$4.84',
       '$29.56', '$15.92', '$16.51', '$9.68', '$9.08', '$20.00', '$8.15',
       '$14.85', '$16.31', '$24.74', '$17.16', '$3.94', '$22.00', '$11.62',
       '$14.16', '$21.42', '$8.80', '$28.23', '$2.51'], dtype=object)

Need to format '1 credit' and '$0.00 with Trial' entries

In [4]:
#Remove dollar sign
df['prices'] = df['prices'].apply(lambda price: price.strip('$'))

In [5]:
#Assign Credit to -1
df['prices'] = df['prices'].apply(lambda price: -1 if price=='1 credit' else price)

In [6]:
#Assign 0.00 with trial to -2
df['prices'] = df['prices'].apply(lambda price: -2 if price=='0.00 with Trial' else price)

Convert prices to numeric

In [7]:
df['prices']=df['prices'].apply(float)

In [8]:
df.head(2)

,category,rank,titles,prices
0,Arts Photography,1,The 5 Love Languages: The Secret to Love that ...,9.59
1,Arts Photography,2,Born a Crime: Stories from a South African Chi...,-2.00

### Create title length column

In [9]:
df['Title Length'] = df['titles'].apply(lambda x: len(x))

### Capitalize column names and make singular

In [10]:
df.columns

Index(['category', 'rank', 'titles', 'prices', 'Title Length'], dtype='object')

In [11]:
df.columns = ['Category', 'Rank', 'Title', 'Price', 'Title Length']

In [12]:
df.head(2)

,Category,Rank,Title,Price,Title Length
0,Arts Photography,1,The 5 Love Languages: The Secret to Love that ...,9.59,51
1,Arts Photography,2,Born a Crime: Stories from a South African Chi...,-2.00,52

## Save cleaned file

In [13]:
df.to_csv('../data/cleaned_top_100_with_title_length.csv')